.toolbar {
	display: flex;
	flex-direction: row;
	position: relative;
	align-items: center;
	font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
	background-color: #567189 !important;
	height: 55px;
}

.toolbar > div:nth-of-type(1) {
	display: flex;
	width: 50%;
	align-items: center;
	gap: 5px;
}

.toolbar > div:nth-of-type(1) > img {
	width: 30px;
	height: 30px;
	object-fit: contain;
	border-radius: 5px;
}

.toolbar > div:nth-of-type(1) > span {
	font-size: 15px;
	font-weight: 300;
}

.toolbar > div:nth-of-type(2) {
	display: flex;
	width: 50%;
	gap: 65px;
	align-items: center;
}

.toolbar > div:nth-of-type(2) > .icons {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}

.HomePage {
	display: flex;
	position: relative;
	margin-top: 70px;
	padding-left: 16px;
	font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

.HomePage > .left {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 10px;
}

.HomePage > .left > .Card {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 25px;
	margin-right: 20px;
	background-color: #eef2ff;
}

.HomePage > .left > .Card > span:nth-of-type(1) {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px;
}

.HomePage > .left > .Card > div {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.HomePage > .left > .Card > div > span {
	font-size: 15px;
	font-weight: 300;
}

.HomePage > .right {
	width: 50%;
	margin-top: 20px;
}

.HomePage > .right > img {
	object-fit: contain;
	border-radius: 10px;
	height: 300px;
	width: 300px;
}

.HomePage > .right > div {
	margin-top: 20px;
	margin-right: 10px;
}

.HomePage > .right > div > span {
	font-size: 20px;
	font-weight: 600;
}

.HomePage > .right > div > .accordian {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.Footer {
	display: flex;
	width: 100%;
	height: 100px;
	background-color: #000;
	color: white;
}

.Footer > div {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.Footer > div > span {
	font-size: 12px;
}

.ContactUs {
	display: flex;
	position: relative;
	padding: 10px;
	margin-top: 60px;
	font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

.ContactUs > .left {
	width: 30%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	margin-left: 15px;
	position: relative;
	padding: 20px;
	margin-top: 30px;
}

.ContactUs > .left > img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 10px;
}

.ContactUs > .left > div {
	display: flex;
	flex-direction: column;
	gap: 3px;
	margin-left: 20px;
}

.ContactUs > .left > div > span {
	font-size: 16px;
}

.ContactUs > .left > div > span:nth-of-type(1) {
	color: #5b8fb9;
}

.ContactUs > .left > div > span:nth-of-type(3) {
	font-weight: 600;
	color: #000;
	margin-top: 20px;
}

.ContactUs > .right {
	width: 70%;
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 30px;
	flex-direction: column;
}

.ContactUs > .right > span {
	font-size: 15px;
	color: gray;
	font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

.loginBtn {
	background-color: #fff !important;
	color: black;
}

.LoginModal {
	width: 400px;
	height: 400px;
}

.LoginPage {
	display: flex;
	flex-direction: column;
	padding: 10px;
	gap: 10px;
	position: relative;
}

.LoginPage > span {
	font-size: 17px;
	padding: 10px;
}

.formDiv {
	height: 280px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	margin-top: 20px;
	position: relative;
}

.formDiv > input {
	height: 30px;
	outline: none;
	padding-left: 5px;
	font-size: 12px;
	background-color: #ecf9ff;
	border: 1px solid grey;
	border-radius: 3px;
}

.formDiv > .loginButton {
	width: 100px;
	height: 35px;
	background-color: #5b8fb9;
	cursor: pointer;
	color: white;
	position: absolute;
	bottom: 0px;
	right: 10px;
}

.loginLink {
	margin-top: 2px;
}

.loginLink > span:nth-of-type(1) {
	font-size: 13px;
	color: black;
}

.loginLink > span:nth-of-type(2) {
	font-size: 13px;
	color: blue;
	cursor: pointer;
}

.errortext {
	color: red;
}

.FindFEI {
	display: flex;
	flex-direction: column;
	gap: 50px;
	margin-bottom: 20%;
	padding: 10%;
}

.FindFEI > span {
	font-size: 20px;
	font-weight: 600;
	color: #1f8a70;
	font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

.FindFEI > .each_item {
	display: flex;
	flex-direction: column;
	gap: 34px;
}

.FindFEI > .each_item > span {
	font-size: 16px;
	font-weight: 600;
}

.FindFEI > .each_item > div {
	display: flex;
	flex-direction: row;
	gap: 30px;
}

.FindFEI > .each_item > div > div:nth-of-type(1) {
	display: flex;
	flex-direction: row;
	width: 70%;
}

.FindFEI > .each_item > div > div:nth-of-type(1) > span {
	margin-top: 5px;
	font-size: 13px;
	color: gray;
	font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

.FindFEI > .each_item > div > div:nth-of-type(2) {
	width: 30%;
	display: flex;
	flex-direction: column;
	margin-bottom: 26px;
}

.FindFEI > .each_item > div > div:nth-of-type(2) > .inputclass {
	/* outline: none;
    border: 1px solid gray;
    border-radius: 2px;
    padding-left: 10px; */
	width: 240px;
	height: 0px !important;
	padding: 0px;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
	height: 8px !important;
	padding: 16.5px !important;
}

.FindFEI > .each_item > div > div:nth-of-type(2) > input:hover {
	border-color: #5b8fb9;
}

.FindFEI > .each_item > .heading {
	padding: 10px;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.FindFEI > .each_item > .heading > div:nth-of-type(1) {
	width: 70%;
}

.FindFEI > .each_item > .heading > div:nth-of-type(1) > span {
	font-weight: 600;
	font-size: 14px;
	color: #000;
	font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

.FindFEI > .each_item > .heading > div:nth-of-type(2) {
	width: 30%;
}

.FindFEI > .each_item > .heading > div:nth-of-type(2) > span {
	font-weight: 600;
	font-size: 14px;
	font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

.ReportPage {
	display: flex;
	margin-top: 70px;
}

.ReportPage > .nodata {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.ReportPage > .nodata > img {
	width: 400px;
	height: 400px;
	object-fit: contain;
}

.ReportPage > .nodata > span {
	font-size: 20px;
	font-weight: 600;
	color: gray;
	font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

.firstsnack > .css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root {
	background-color: #f55050 !important;
}

.Secondsnack > .css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root {
	background-color: #379237 !important;
}

.outputCard {
	display: flex;
	flex-direction: column;
	padding: 10px;
	gap: 10px;
	background-color: #eef2ff !important;
	font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

.outputCard > span:nth-of-type(1) {
	font-size: 20px;
	margin-bottom: 10px;
	color: #379237;
}

.title {
	font-size: 14px;
	color: #f55050;
	font-weight: 600;
	margin-top: 10px;
}

.userValue {
	font-weight: 600;
}

.userValue1 {
	font-size: 16px;
	font-weight: 600;
	color: #379237;
}

.resultClass {
	display: flex;
	gap: 10px;
	margin-left: 2px;
	margin-bottom: 6px;
}

.resultClass > .left {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.resultClass > .left > div {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.resultClass > .left > div > span {
	font-size: 13px;
	margin-top: 2px;
}

.resultClass > .right {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.resultClass > .right > div {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.resultClass > .right > span {
	font-size: 13px;
}

.ResultPage {
	gap: 20px;
	display: flex;
	flex-direction: column;
	margin-top: 60px;
	padding: 53px;
	font-size: 17px;
	font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

.ResultPage > span {
	color: #1f8a70;
}

.ResultPage > div {
	display: flex;
}

.ResultPage > div > .leftResult {
	width: 40%;
}

.ResultPage > div > .middleResult {
	width: 20%;
}

.ResultPage > div > .rightResult {
	width: 40%;
}
